
.movieList {
    display: flex;
  }

  .sidebar {
    flex: 0 0 200px; /* Ancho fijo para la barra lateral */
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .header {
    margin-bottom: 20px;
    background-color: #1d1e1f;
    color: white;
    border: none;
  }
  
  .header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    background-color: #1d1e1f;
    color: white;
  }
  
  .header p {
    font-size: 1rem;
    color: white;
  }
  
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center;
  }
  