
.sidebar {
  display: flex;
  background-color: #333;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

/* 
.sidebarButton {
  background-color: #ba110e;
  border-color: #ba110e;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  align-items: center;
  cursor: pointer;
  height: 65px;
  border: none;
  width: 65px;
  border-radius: 1000px;
} */
 
.sidebarButton{
  background: linear-gradient(45deg, #13a4c8, #ba110e, #e4bf03);
  background-size: 400% 400%;
  animation: gradientBG 10s ease-in-out infinite;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  align-items: center;
  cursor: pointer;
  height: 65px;
  border: none;
  width: 65px;
  border-radius: 1000px;
}
.sidebarButton:hover {
  background-color: #e4bf03;
  border-color: #e4bf03;
}
@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
